{{#each @model as |rant|}}
<section class="message">
  <div class="flex items-center mb-4">
    {{#if rant.author.avatar}}
    <img
      class="w-10 h-10 rounded-full mr-4"
      alt={{rant.author.username}}
      src={{rant.author.avatar}} />
    {{else}}
    <div class="rounded-full w-10 h-10 bg-gray-300 mr-4"></div>
    {{/if}}
    <span class="text-gray-900 leading-none">{{rant.author.username}}</span>
  </div>
  <div class="text-gray-700 text-base">
    {{rant.text}}
  </div>
</section>
{{/each}}